.copyright
    - var hexoURL = "https://hexo.io/";
    - var sapolloURL = "https://github.com/sagittaria/hexo-theme-sapollo";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=sapolloURL, target="_blank") hexo-theme-sapollo].